<!DOCTYPE html>
<html lang="en" ng-app="codeProjects">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Title -->
  <link rel="icon" href="../../files/my_icon.png">
  <title>Programmer | Steven</title>

  <!-- Local Bootstrap-->
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Local Semantic Components -->
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-button/button.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-icon/icon.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-flag/flag.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-card/card.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-grid/grid.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-dimmer/dimmer.min.css">

  <!-- My Style -->
  <link rel="stylesheet" href="../apps.css">

</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand"><img id="icon" class="img-responsive" src="../../files/my_icon.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="../../index.html">I AM A</a></li>
        <li><a href="../designer/designer.html">Designer</a></li>
        <li><a href="../photographer/photographer.html">Photographer</a></li>
        <li class="active"><a href="../programmer/programmer.html">Programmer</a></li>
        <li><a href="../sketcher/sketcher.html">Sketcher</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-flag"></span> Languages<span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#"><i class="flag ca"></i>English</a></li>
            <!--<li><a href="#"><i class="flag cn"></i>Chinese</a></li>-->
          </ul>

        </li>
      </ul>
    </div>

  </div>
</nav>


<body id="start"  ng-controller="ProjectsController as projects">

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#start">My Projects</a></li>
        <li><a href="#android"><i class="right triangle icon"></i>Android App</a></li>
        <li><a href="#web"><i class="right triangle icon"></i>Websites</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h1>My Projects</h1>

      <h2 id="android" class="sub-header">Android App:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="androidApp in projects.androidApps">
          <div class="image">
            <img ng-src="{{androidApp.image}}" alt="{{androidApp.alter}}">
          </div>
          <div class="content">
            <div class="header">{{androidApp.title}}</div>
            <div class="meta">{{androidApp.time}}</div>
            <div class="description">{{androidApp.description}}</div>
          </div>
          <div class="extra content" align="center" ng-show="androidApp.extra">
            <a href="{{androidApp.extra_link}}" target="_blank">
              <img id="GooglePlay" ng-src="{{androidApp.extra_image}}"/>
            </a>
          </div>
        </div>
      </div>

      <h2 class="sub-header">Websites:</h2>
      <div class="ui special three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="website in projects.websites">
          <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
              <div class="content">
                <div class="center">
                  <a href="{{website.link}}" class="ui huge primary button" target="_blank">Go to</a>
                </div>
              </div>
            </div>
            <img ng-src="{{website.image}}" alt="{{website.alter}}">
          </div>
          <div class="content">
            <div class="header">{{website.title}}</div>
            <div class="meta">{{website.time}}</div>
            <div class="description">{{website.description}}</div>
          </div>
          <div class="extra content" align="center" ng-show="website.source">
            <a class="ui huge button" href="{{website.source_link}}" target="_blank">
              <i class="github icon"></i>View Source
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Copyright © 2016 Steven Y.</p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/jquery.min.js"><\/script>')</script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>

<!-- Local Semantic Components -->
<script src="../../node_modules/semantic-ui-dimmer/dimmer.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/ie10-viewport-bug-workaround.js"></script>

<!-- Local AngularJS -->
<script src="../../assets/angular.min.js"></script>

<!-- My JavaScript -->
<script src="programmer.js"></script>
<script src="../apps.js"></script>

</body>
</html>