/* HTML
------------------------- */

html {
    min-height: 100%;
}

body {
    background-color: #E0E0E0;
}

/* Ids
------------------------- */

.construction-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.words {
    padding-top: 80px;
    max-width: 50%;
}

.buttons {
    padding-top: 60px;
    display: flex;
    width: 400px;
    max-width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    padding-top: 80px;
    padding-bottom: 60px;
    max-width: 50%;
}
