<!DOCTYPE html>
<html lang="en" ng-app="designBoard">

<!-- HEAD
======================================== -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Title -->
  <link rel="icon" href="../../files/my_icon.png">
  <title>Designer | Steven</title>

  <!-- Local Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Local Semantic Components -->
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-button/button.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-icon/icon.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-flag/flag.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-card/card.min.css">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-grid/grid.min.css">

  <!-- My Style -->
  <link rel="stylesheet" href="../apps.css">

</head>


<body id="start" ng-controller="BoardController as board">

<!-- NAVBAR
======================================== -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand"><img id="icon" class="img-responsive" src="../../files/my_icon.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a href="../../index.html">I AM A</a></li>
        <li class="active"><a href="../designer/designer.html">Designer</a></li>
        <li><a href="../photographer/photographer.html">Photographer</a></li>
        <li><a href="../programmer/programmer.html">Programmer</a></li>
        <li><a href="../sketcher/sketcher.html">Sketcher</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-flag"></span> Languages<span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#"><i class="flag ca"></i>English</a></li>
            <!--<li><a href="#"><i class="flag cn"></i>Chinese</a></li>-->
          </ul>

        </li>
      </ul>
    </div>

  </div>
</nav>


<!-- CONTENTS
======================================== -->

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#start">My Design Board</a></li>
        <li><a href="#promo"><i class="right triangle icon"></i>Promotions</a></li>
        <li><a href="#facebook"><i class="right triangle icon"></i>Facebook Graphics</a></li>
        <li><a href="#poster"><i class="right triangle icon"></i>Posters</a></li>
        <li><a href="#mgzn"><i class="right triangle icon"></i>Magazine Pages</a></li>
        <li><a href="#tshirt"><i class="right triangle icon"></i>T-Shirt</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h1>My Design Board</h1>

      <h2 id="promo" class="sub-header">Promotion:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="promomtion in board.promotions">
          <div class="image">
            <img ng-src="{{promomtion.image}}" alt="{{promomtion.alter}}">
          </div>
          <div class="content">
            <div class="header">{{promomtion.title}}</div>
            <div class="meta">{{promomtion.time}}</div>
            <div class="description">{{promomtion.description}}</div>
          </div>
        </div>
      </div>

      <h2 id="facebook" class="sub-header">Facebook Page/Group:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="facebook in board.facebooks">
          <div class="image">
            <img ng-src="{{facebook.image}}" alt="{{facebook.alter}}">
          </div>
          <div class="content">
            <div class="header">{{facebook.title}}</div>
            <div class="meta">{{facebook.time}}</div>
            <div class="description">{{facebook.description}}</div>
          </div>
        </div>
      </div>

      <h2 id="poster" class="sub-header">Posters:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="poster in board.posters">
          <div class="image">
            <img ng-src="{{poster.image}}" alt="{{poster.alter}}">
          </div>
          <div class="content">
            <div class="header">{{poster.title}}</div>
            <div class="meta">{{poster.time}}</div>
            <div class="description">{{poster.description}}</div>
          </div>
        </div>
      </div>

      <h2 id="mgzn" class="sub-header">Magazine Pages:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="magazine in board.magazines">
          <div class="image">
            <img ng-src="{{magazine.image}}" alt="{{magazine.alter}}">
          </div>
          <div class="content">
            <div class="header">{{magazine.title}}</div>
            <div class="meta">{{magazine.time}}</div>
            <div class="description">{{magazine.description}}</div>
          </div>
        </div>
      </div>

      <h2 id="tshirt" class="sub-header">T-shirt:</h2>
      <div class="ui three doubling stackable cards">
        <!-- Repeated Cards -->
        <div class="card" ng-repeat="tshirt in board.tshirts">
          <div class="image">
            <img ng-src="{{tshirt.image}}" alt="{{tshirt.alter}}">
          </div>
          <div class="content">
            <div class="header">{{tshirt.title}}</div>
            <div class="meta">{{tshirt.time}}</div>
            <div class="description">{{tshirt.description}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- FOOTER
======================================== -->

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Copyright © 2016 Steven Y.</p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/jquery.min.js"><\/script>')</script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/ie10-viewport-bug-workaround.js"></script>

<!-- Local AngularJS -->
<script src="../../assets/angular.min.js"></script>

<!-- My JavaScript-->
<script src="designer.js"></script>
<script src="../apps.js"></script>

</body>

</html>