<!DOCTYPE html>
<html lang="en" ng-app="codeProjects">

<!-- HEAD
======================================== -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <link rel="icon" href="../../assets/logo.png">
    <title>Programmer | Steven</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Local Semantic Components -->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-button/button.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-icon/icon.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-flag/flag.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-card/card.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-grid/grid.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui-dimmer/dimmer.min.css">-->

    <!-- My Style -->
    <link rel="stylesheet" href="../apps.css">

</head>


<body id="start"  ng-controller="ProjectsController as projects">

<!-- NAVBAR
======================================== -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <img class="navbar-brand" src="../../assets/logo.png" width="30" height="30" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-custom" aria-controls="navbar-custom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-custom">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../apps/experiences/experiences.html">Experiences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../apps/designer/designer.html">Designing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../extra/extra.html">Extra</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-info" href="../../assets/resume.pdf" role="button" target="_blank">Résumé</a>
            </li>
        </ul>
    </div>
</nav>



<!-- Mobile Jumbortron
======================================== -->

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Mobile</h1>
        <!--<p class="lead text-muted"></p>-->
    </div>
</section>


<!-- Mobile Album
======================================== -->


<div class="album text-muted">
    <!--<div class="container">-->
    <div class="row">
        <div class="card" ng-repeat="androidApp in projects.androidApps">
            <img class="img-fluid" ng-src="{{androidApp.image}}" alt="{{androidApp.alter}}">
            <p class="card-text">{{androidApp.title}}</p>
            <p class="card-text">{{androidApp.description}}</p>
            <a href="{{androidApp.extra_link}}" target="_blank">
                <img id="GooglePlay" ng-src="{{androidApp.extra_image}}"/>
            </a>
        </div>
    </div>
    <!--</div>-->
</div>


<!-- Web Jumbortron
======================================== -->

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Web</h1>
        <!--<p class="lead text-muted"></p>-->
    </div>
</section>


<!-- Web Album
======================================== -->


<div class="album text-muted">
    <!--<div class="container">-->
    <div class="row">
        <div class="card" ng-repeat="website in projects.websites">
            <img class="img-fluid" ng-src="{{website.image}}" alt="{{website.alter}}">
            <p class="card-text">{{website.title}}</p>
            <p class="card-text">{{website.description}}</p>
        </div>
    </div>
    <!--</div>-->
</div>

<!-- School Jumbortron
======================================== -->

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">School</h1>
        <!--<p class="lead text-muted"></p>-->
    </div>
</section>


<!-- School Album
======================================== -->


<div class="album text-muted">
    <!--<div class="container">-->
    <div class="row">
        <div class="card" ng-repeat="school in projects.schools">
            <img class="img-fluid" ng-src="{{school.image}}" alt="{{school.alter}}">
            <p class="card-text">{{school.title}}</p>
            <p class="card-text">{{school.description}}</p>
        </div>
    </div>
    <!--</div>-->
</div>


<!-- FOOTER
======================================== -->

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>2017 | Made with <img src="../../assets/heart.png" height="16" width="16" align="middle"> by Steven Yang</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!-- Local Semantic Components -->
<script src="../../node_modules/semantic-ui-dimmer/dimmer.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../js/ie10-viewport-bug-workaround.js"></script>

<!-- Local AngularJS -->
<script src="../../js/angular.min.js"></script>

<!-- My JavaScript -->
<script src="projects.js"></script>
<script src="../apps.js"></script>

</body>

</html>
