/* HTML
------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FAFAFA;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

/*h1 {*/
    /*text-align: center;*/
    /*color: #212121;*/
    /*font-family: "serif";*/
    /*padding-top: 80px;*/
    /*padding-bottom: 20px;*/
/*}*/


/* Cards
------------------------- */


.card {
    width: 25rem;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 90%;
}


/* Ids
------------------------- */

#GooglePlay {
    height: 60%;
    width: 60%;
}

/* Jumbotron
------------------------- */

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 60rem;
}


/* Album
------------------------- */


.album {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #f7f7f7;
}

.album .row {
    justify-content: center;
}


/* Navbar
------------------------- */

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 0;
}
/*.navbar-brand>img {*/
    /*height: 100%;*/
    /*padding: 13px;*/
    /*width: auto;*/
/*}*/


/* Subheader
------------------------- */

/*.sub-header {*/
    /*border-bottom: 1px solid #E0E0E0;*/
    /*padding-bottom: 10px;*/
    /*margin-bottom: 20px;*/
/*}*/


/* Sidebar
------------------------- */

/* Hide for mobile, show later */

/*.sidebar {*/
    /*display: none;*/
/*}*/

/*!* Sidebar navigation *!*/

/*.nav-sidebar {*/
    /*margin-right: -20px;*/
    /*margin-bottom: 20px;*/
    /*margin-left: -20px;*/
/*}*/

/*.nav-sidebar > li > a {*/
    /*color: #424242;*/
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
/*}*/
/*.nav-sidebar > li > a:hover {*/
    /*background-color: #E0E0E0;*/
/*}*/

/*.nav-sidebar > .active > a,*/
/*.nav-sidebar > .active > a:hover,*/
/*.nav-sidebar > .active > a:focus {*/
    /*color: #ffffff;*/
    /*background-color: #616161;*/
/*}*/


/* Footer
------------------------- */

footer {
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E0E0E0;
}


/* Responsive
------------------------- */

/*@media (min-width: 768px) {*/
    /*.sidebar {*/
        /*position: fixed;*/
        /*top: 50px;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*z-index: 1000;*/
        /*display: block;*/
        /*padding-top: 20px;*/
        /*overflow-x: hidden;*/
        /*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
        /*background-color: #EEEEEE;*/
    /*}*/
/*}*/
